<!doctype html>
<html>
<head>
    <% include ../comm/header.ejs %>
</head>
<body>
<% include ../comm/body_header.ejs %>
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i> <a href="index.html">首页</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-bar-chart-o"></i>
                        <small><%= title %></small>
                    </li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <h3 class="page-header">选择时间</h3>
                <div id="datetimepicker" class="input-append date">
                    <form action="/stat/lineTemplate" method="post">
                        <input type="text" name="startDate" id="startDate"
                               value="<%= startDate %>">&nbsp;-&nbsp;
                        <input type="text" name="endDate" id="endDate" value="<%= endDate %>">
                        &nbsp;
                        <input type="submit" name="" value="查 询" class="btn btn-success">
                    </form>
                </div>
            </div>
        </div>
        <div class="row"> &nbsp;</div>

        <div class="col-xl-6 col-lg-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th>用户名</th>
                        <th><%= result.propertyName %></th>
                    </tr>
                    </thead>
                    <tbody>
                    <% for(var i = 0; i < result.length; i++) { %>
                    <tr>
                        <td><%= result[i].nickname %></td>
                        <td>
                            <%= result[i].propertyCount %>
                        </td>
                    </tr>
                    <% } %>
                    </tbody>
                </table>
                <nav>
                    <ul class="pagination">
                        共 <%= result.count %> 条记录
                        <%- result.pageStr %>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</div>

<% include ../comm/body_footer.ejs %>
</div>
<script type="text/javascript">
    //日期插件配置
    $('#startDate,#endDate').datetimepicker({
        timepicker: false,
        format: 'Y-m-d',
        formatDate: 'Y-m-d'
    });
</script>
</body>
</html>
